@font-face {
    font-family: 'Century Gothic';
    src: url('gothic/CenturyGothic-Bold.woff2') format('woff2'),
        url('gothic/CenturyGothic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('gothic/CenturyGothic.woff2') format('woff2'),
        url('gothic/CenturyGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
