body.single-product div#sidebar {
    display: none;
}

body.woocommerce-page .main,
body.search-results .main {
    padding-top: 1px;
}

body.woocommerce-page .content-page,
body.search-results .content-page {
	margin-bottom: 50px;
	margin-top: 50px;
	position: relative;
}

/*Product's styles*/
.product-list {
	list-style: none;
}

.product-list .item.product-item {
	outline: 0;
	padding: 20px;
}
    .product-list .item.product-item.slick-slide {
        max-width: 100%;
        width: 100%;
    }
	.product-list .item.product-item .image-product {
		background-color: #f1f1f1;
		position: relative;
		overflow: hidden;
	}
		.product-list .item.product-item .image-product a {
			outline: 0;
		}
		.product-list .item.product-item .image-product img {
			height: auto;
			width: 100%;
		}
	.product-list .item.product-item .buttons {
		bottom: -39px;
		display: table;
		left: 0px;
		position: absolute;
		width: 100%;
		-webkit-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}
		.product-list .item.product-item:hover .buttons {
			bottom: 0px;
		}
		.product-list .item.product-item .buttons a {
		    background-color: #000;
			border: none;
			color: #fff;
			display: table-cell;
			font-family: 'Century Gothic';
			font-size: 13px;
			font-weight: normal;
			letter-spacing: 3px;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			-webkit-transition: all 0.3s linear;
			-o-transition: all 0.3s linear;
			transition: all 0.3s linear;
		}
			.product-list .item.product-item .buttons a i {
				font-weight: 900;
			}
			.product-list .item.product-item .buttons a:hover {
				background-color: #cb9700;
			}
		.product-list .item.product-item .buttons .added_to_cart.wc-forward {
			background: #cb9700;
			color: #fff;
			padding-bottom: 10px;
			padding-top: 10px;
			position: absolute;
			left: 20%;
			text-align: center;
			top: -100%;
			width: 60%;
		}
	.product-list .item.product-item .info-product {
		background-color: transparent;
		padding-bottom: 20px;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 20px;
		-webkit-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
		transition: all 0.3s linear;
	}
		.product-list .item.product-item:hover .info-product {
			background-color: #f1f1f1;
		}
		.product-list .item.product-item .info-product p {
			margin: 0px;
			text-align: left;
		}
		.product-list .item.product-item .info-product p a {
    color: #003458;
    text-decoration: none;
    text-transform: none;
}
			.product-list .item.product-item .info-product .name-product {
				font-weight: bold;
				font-size: 18px;
				margin-bottom: 20px;
				word-wrap: normal;
				text-transform: uppercase;
			}
			.product-list .item.product-item .info-product .price-product {
				align-items: center;
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				color: #000109;
				font-family: 'Century Gothic';
				font-size: 15px;
				font-weight: normal;
				margin-top: 2px;
			}
			.info-product a.added_to_cart.wc-forward {
			    color: #fff !important;
			    display: block;
			    background-color: var(--red);
				margin-top:10px;
			    padding: 5px 10px;
			    border-radius: 35px;
				text-align: center;
				width: 100%;
			}
			.product-list .item.product-item .info-product .button {
border-radius: 5px;
    color: #fff;
    background: #ad0e16;
    padding: 10px 15px;
}

			.product-list .item.product-item .info-product .price-product ins {
				font-family: 'Century Gothic';
			}
		.product-list .item.product-item .info-product .name-collection a {
			font-size: 15px;
			color: #cb9700;
			text-decoration: none;
		}
			.product-list .item.product-item .info-product .name-collection a:hover {
				color: #8c6800;
			}

/*Message*/
.woocommerce-message {
	background-color: #f5f5f5;
	margin-bottom: 20px;
	padding: 20px;
	text-align: center;
}
	.woocommerce-message a.button {
		background-color: #000;
		border: none;
		color: #fff;
		margin-right: 10px;
		padding: 10px 15px;
	}
		.woocommerce-message a.button:hover {
			background-color: #000;
			color: #fff;
		}

/*Single product page*/
.product-page-container {
	display: -webkit-flex;
	-webkit-flex-direction: row;
	display: flex;
	flex-direction: row;
	position: relative;
	width: 100%;
}
	.product-page-container .woocommerce-product-gallery {
		background-color: #f1f1f1;
		width: 30%;
	}
	.product-page-container .product-summary {
		padding-left: 50px;
		width: 70%;
	}

.product-page-container .woocommerce-product-gallery figure {
	margin-bottom: 0px;
}

.product-page-container .woocommerce-product-gallery img {
	display: block;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.flex-control-thumbs {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0px;
    padding: 15px 10px;
}
    .flex-control-thumbs li {
        cursor: pointer;
        margin-left: 5px;
        margin-right: 5px;
		width: -webkit-calc(20% - 10px);
		width: -moz-calc(20% - 10px);
		width: calc(20% - 10px);
    }

.product-page-container .onsale {
	background-color: #000;
	color: #fff;
	font-size: 16px;
	left: 20px;
	padding: 7px 15px;
	position: absolute;
	top: 20px;
}

.product-page-container .product_title {
font-size: 25px;
    font-weight: 900;
    color: #ad0e16;
}

.product-page-container .info {
	border-top: 1px solid #ccc;
	margin-top: 20px;
	padding-top: 20px;
}

	.product-page-container .info .price {
		color: #383838;
		font-family: 'Century Gothic';
	    font-size: 25px;
	    font-weight: normal;
	    margin-bottom: 0px;
	}
		.product-page-container .info .price .woocommerce-Price-amount {
			font-weight: bold;
		}

	.product-page-container .info .product_meta .posted_in {
		font-family: 'Century Gothic';
		font-size: 18px;
		font-weight: normal;
	}
		.product-page-container .info .product_meta .posted_in a {
			color: #5b5b5f;
			font-family: 'Century Gothic';
		}

	.product-page-container .info .woocommerce-product-details__short-description {
		color: #5b5b5f;
		padding-bottom: 20px;
		padding-top: 20px;
	}

		.product-page-container .info .woocommerce-product-details__short-description p {
			margin-bottom: 5px;
			margin-top: 5px;
		}
	table.variations tr {
		vertical-align: top;
	}
		table.variations label[for="pa_textura"] {
			margin-top: 10px;
			margin-right: 20px;
		}
		table.variations .tawcvs-swatches .swatch-image {
			height: 40px;
			opacity: 1;
			width: 40px;
		}
			.tawcvs-swatches .swatch-image img {
				display: block;
				height: auto;
				margin: 0px;
				width: 100%;
			}

	.product-page-container .info .quantity {
		display: inline-block;
		vertical-align: bottom;
	}

	.product-page-container .info .cuidados img {
	    max-width: 100%;
	}

.product-page-container .info form.cart {
	margin-top: 20px;
}

.product-page-container .info form.cart label {
	color: #5b5b5f;
	font-family: 'Century Gothic';
	font-size: 18px;
}
.product-page-container .info form.cart input.qty {
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 10px;
	width: 110px;
}
.product-page-container .info form.cart button.button {
	background-color: #f19e1e;
	border: none;
	color:#fff;
	cursor: pointer;
	display: block;
	font-family: 'Century Gothic';
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 3px;
	outline: 0;
	margin-top: 20px;
	padding-bottom: 11px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 11px;
	text-transform: uppercase;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
	.product-page-container .info form.cart button.button:hover {
		background-color: #000;
		color: #fff;
	}

.woocommerce-tabs {
	margin-top: 40px;
}
	.woocommerce-tabs ul.tabs {
		background-color: #e0e0e0;
		display: block;
		list-style: none;
		margin-bottom: 0px;
		text-align: left;
	}
		.woocommerce-tabs ul.tabs li {
			display: inline-block;
		}
			.woocommerce-tabs ul.tabs li a {
				background-color: transparent;
				color: #000;
				display: block;
				font-family: 'Century Gothic';
				font-size: 14px;
				font-weight: normal;
				letter-spacing: 3px;
				padding-bottom: 10px;
				padding-left: 20px;
				padding-right: 20px;
				padding-top: 10px;
				text-decoration: none;
				text-transform: uppercase;
				-webkit-transition: all 0.4s ease;
				-o-transition: all 0.4s ease;
				transition: all 0.4s ease;
			}

			.woocommerce-tabs ul.tabs li.active a {
				background-color: #000;
				color: #fff;
			}

	.woocommerce-tabs .woocommerce-Tabs-panel {
		background-color: #f5f5f5;
		padding: 30px;
	}
		.woocommerce-tabs .woocommerce-Tabs-panel h2 {
    border-bottom: 1px solid #ccc;
    color: #f19e1e;
    font-family: 'Century Gothic';
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.woocommerce-tabs .woocommerce-Tabs-panel table.shop_attributes {
	width: 100%;
}

.woocommerce-tabs .woocommerce-Tabs-panel table.shop_attributes p {
	margin: 0px;
}
	.woocommerce-tabs .woocommerce-Tabs-panel table.shop_attributes tr th,
	.woocommerce-tabs .woocommerce-Tabs-panel table.shop_attributes tr td {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		font-family: 'Century Gothic';
		font-weight: normal;
		padding: 10px 20px;
		vertical-align: middle;
	}
	.woocommerce-tabs .woocommerce-Tabs-panel table.shop_attributes tr th {
		font-family: 'Century Gothic';
		letter-spacing: 2px;
		text-transform: uppercase;
		width: 25%;
	}
		.woocommerce-tabs .woocommerce-Tabs-panel table.shop_attributes tr:nth-child(odd) th {
			background-color: #dadada;
		}
		.woocommerce-tabs .woocommerce-Tabs-panel table.shop_attributes tr:nth-child(even) th {
			background-color: #eaeaea;
		}

		.woocommerce-tabs .woocommerce-Tabs-panel table.shop_attributes tr:hover td {
			background-color: #e4e3e3;
		}

	.woocommerce-tabs .woocommerce-Tabs-panel .comment-respond textarea {
		min-height: 46px;
	}

.single-product-page .related.products {
	margin-top: 30px;
}

.single-product-page .related.products h2 {
    padding: 10px 20px;
    background: #003458;
    margin-bottom: 20px;
    color: #fff;
    font-size: 13pt;
    font-weight: 700;
}

/*My account page*/
.woocommerce-form-login button[type="submit"]{
	margin-right: 10px;
	vertical-align: middle;
}
.woocommerce-form__label.inline {
	margin-bottom: 0px;
	vertical-align: middle;
}

.woocommerce-form-row {
	margin: 0px;
}
	.woocommerce-form-row label {
		font-family: 'Century Gothic';
		font-size: 16px;
		margin: 0px;
	}

.woocommerce-MyAccount-navigation ul {
	list-style: none;
	margin: 0px;
}
	.woocommerce-MyAccount-navigation ul li a {
		background-color: #000;
		color: #fff;
		display: block;
		font-family: 'Century Gothic';
		font-size: 14px;
		font-weight: normal;
		letter-spacing: 2px;
		padding: 10px 20px;
		text-decoration: none;
		text-transform: uppercase;
		-webkit-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}
		.woocommerce-MyAccount-navigation ul li a:hover {
			background-color: #000;
			color: #fff;
		}

.woocommerce-MyAccount-content .welcome-message {
	font-family: 'Century Gothic';
	font-size: 30px;
	font-weight: normal;
}
	.woocommerce-MyAccount-content .welcome-message strong {
		font-family: 'Century Gothic';
	}

.woocommerce-Address-title h3 {
	font-size: 30px;
	text-align: left;
}

/*Cart page*/
.woocommerce .shop_table {
	width: 100%;
}
	.woocommerce .shop_table thead {
		background-color: #f5f5f5;
		border-bottom: 1px solid #ccc;
		font-family: 'Century Gothic';
		font-size: 16px;
		font-weight: normal;
		text-align: center;
		text-transform: uppercase;
	}
		.woocommerce .shop_table thead th {
			padding: 15px 0px;
			border-right: 1px solid #ccc;
		}
			.woocommerce .shop_table thead th:first-child,
			.woocommerce .shop_table thead th:last-child {
				padding: 15px 0px;
				border-right: none;
			}

.woocommerce .shop_table tr.cart_item {
	border-bottom: 1px solid #ccc;
}
	.woocommerce .shop_table tr.cart_item:nth-child(even) {
		background-color: #f5f5f5;
	}
	.woocommerce .shop_table tr.cart_item:last-child {
		border-bottom: none;
	}

	.woocommerce .shop_table tr td.product-remove,
	.woocommerce .shop_table tr td.product-name,
	.woocommerce .shop_table tr td.product-price,
	.woocommerce .shop_table tr td.product-quantity,
	.woocommerce .shop_table tr td.product-subtotal {
		text-align: center;
	}

.woocommerce .shop_table .product-remove {
	padding-left: 20px;
	padding-right: 20px;
}

.woocommerce .shop_table .product-thumbnail img {
	display: block;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 150px;
}

.woocommerce .shop_table .product-quantity {
	width: 200px;
}
	.woocommerce .shop_table .product-quantity input {
		margin-bottom: 0px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
		text-align: center;
		width: 100px;
	}

.woocommerce .shop_table .shop_coupon {
	text-align: right;
}
.woocommerce .shop_table .shop_coupon td{
	padding: 10px 20px;
}
	.woocommerce .shop_table .coupon,
	.woocommerce .shop_table .coupon input,
	.woocommerce .shop_table .coupon label {
		display: inline-block;
		width: auto;
	}
		.woocommerce .shop_table .coupon label {
			font-family: 'Century Gothic';
			font-size: 16px;
			font-weight: normal;
			letter-spacing: 3px;
			margin-right: 10px;
			text-transform: uppercase;
		}
		.woocommerce .shop_table .coupon input[type="text"] {
		    padding-bottom: 7px;
		    padding-top: 7px;
		}

.cart-collaterals {
	margin-left: 35%;
	margin-top: 15px;
    width: 65%;
}
	.cart-collaterals .shop_table {
		background-color: #f5f5f5;
		margin-bottom: 20px;
	}
	.cart-collaterals .shop_table tr {
		border-bottom: 1px solid #ccc;
	}
		.cart-collaterals .shop_table tr:last-child {
			border-bottom: none;
		}
	.cart-collaterals .shop_table tr th {
		font-family: 'Century Gothic';
		font-size: 16px;
		font-weight: normal;
		letter-spacing: 2px;
		padding-left: 20px;
		padding-right: 20px;
		text-transform: uppercase;
		width: 50%;
	}
	.cart-collaterals .shop_table tr td {
		padding: 15px;
	}
	.woocommerce-shipping-calculator p {
		margin: 0px;
	}

/*Checkout page*/
.woocommerce-info {
	background-color: #f5f5f5;
	padding: 15px 20px;
	margin-bottom: 10px;
}
.woocommerce-checkout label {
	font-weight: bold;
	margin: 0px;
}
	.woocommerce-checkout-review-order .shop_table {
		margin-bottom: 30px;
	}
	.woocommerce-checkout-review-order .shop_table tr td {
		padding: 20px;
	}
	.woocommerce-checkout-review-order .shop_table tfoot tr {
		border-bottom: 1px solid #ccc;
	}
		.woocommerce-checkout-review-order .shop_table tfoot tr:last-child {
			border-bottom: none;
		}
		.woocommerce-checkout-review-order .shop_table tfoot tr th {
			font-family: 'Century Gothic';
			text-align: right;
		}
		.woocommerce-checkout-review-order .shop_table tfoot tr td {
			padding-bottom: 15px;
			padding-top: 15px;
		}
.woocommerce-checkout #customer_details {
	margin-bottom: 30px;
	margin-top: 30px;
}

.woocommerce-checkout-review-order .woocommerce-checkout-review-order-table {
	text-align: center;
	width: 60%;
}

.woocommerce-checkout-payment ul.payment_methods {
	list-style: none;
}
	.woocommerce-checkout-payment ul.payment_methods li.wc_payment_method {
		background-color: #f5f5f5;
		border-bottom: 1px solid #ccc;
		padding-top: 20px;
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 20px;
	}
		.woocommerce-checkout-payment ul.payment_methods li.wc_payment_method:last-child {
			border-bottom: none;
		}

		.woocommerce-checkout-payment ul.payment_methods li.wc_payment_method > label {
			cursor: pointer;
			font-family: 'Century Gothic';
			font-size: 20px;
		}
		.woocommerce-checkout-payment ul.payment_methods li.wc_payment_method .payment_box {
			padding-left: 20px;
			padding-top: 10px;
		}

/*Select2 lists*/
.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 46px;
	line-height: 46px;
}

.select2-container .select2-selection--single {
	border-color: #ccc;
	border-radius: 0px;
}

#shipping_method {
	list-style: none;
}

/*Woocommerce order details*/
.woocommerce-thankyou-order-details {
	list-style: none;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: 60%;
}
	.woocommerce-thankyou-order-details li {
		border-bottom: 1px solid #ccc;
		letter-spacing: 3px;
		padding: 10px 20px;
		text-transform: uppercase;
		text-align: center;
	}
		.woocommerce-thankyou-order-details li.title {
			background-color: #f5f5f5;
			font-size: 20px;
			font-weight: normal;
		}
		.woocommerce-thankyou-order-details li:last-child {
			border-bottom: none;
		}

.woocommerce-order-details h2 {
	border-top: 1px solid #ccc;
	margin-bottom: 25px;
	padding-top: 25px;
}

.woocommerce-order-details .order_details tr {
	border-bottom: 1px solid #ccc;
}
	.woocommerce-order-details .order_details tfoot tr,
	.woocommerce-order-details .order_details tr:last-child {
		border-bottom: none;
	}
	.woocommerce-order-details .order_details tr td {
		padding-bottom: 15px;
		padding-top: 15px;
		text-align: center;
	}
	.woocommerce-order-details .order_details tr td.product-name {
		font-family: 'Century Gothic';
		letter-spacing: 3px;
		text-transform: uppercase;
	}

.woocommerce-order-details .order_details tfoot {
	margin-top: 30px;
}

.woocommerce-order-details .order_details tfoot tr th {
	font-family: 'Century Gothic';
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 3px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: right;
	text-transform: uppercase;
}
.woocommerce-order-details .order_details tfoot tr td {
	background-color: #f5f5f5;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
	.woocommerce-order-details .order_details tfoot tr:last-child td {
		border-bottom: none;
	}

.woocommerce-input-wrapper {
    display: block;
    width: 100%;
}

/*
**RESPONSIVE
*/

@media screen and (max-width: 768px) {

	/*Single product page*/
	.product-page-container {
		flex-direction: column;
	}

	.product-page-container .woocommerce-product-gallery,
	.product-page-container .product-summary {
		width: 100%;
	}

	.product-page-container .product-summary {
		padding-bottom: 30px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 30px;
	}

		.product-page-container .info form.cart input.qty {
			width: 75px;
		}

	.woocommerce-tabs ul.tabs li {
        display: block;
        text-align: center;
        width: 100%;
    }

    	.woocommerce-tabs .woocommerce-Tabs-panel img {
    	    max-width: 100%;
    	}

    	.woocommerce-tabs .woocommerce-Tabs-panel table.shop_attributes tr th,
    	.woocommerce-tabs .woocommerce-Tabs-panel table.shop_attributes tr td {
    	    display: block;
    	    width: 100%;
    	}

	.single-product-page .related.products h2 {
		font-size: 25px;
		text-align: center;
	}

	/*My account page*/
	.woocommerce-MyAccount-content {
		padding-bottom: 30px;
		padding-top: 30px;
	}

	/*Cart page*/
	.cart-collaterals {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

	.woocommerce .shop_table thead {
		display: none;
	}

	.woocommerce .shop_table tr.cart_item {
		align-items: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	}

	.woocommerce .shop_table tr.cart_item td.product-remove {
		width: 70px;
	}

	.woocommerce .shop_table tr.cart_item td.product-thumbnail {
		width: 40%;
	}

	.woocommerce .shop_table tr.cart_item td.product-name {
		width: -webkit-calc(60% - 70px);
		width: -moz-calc(60% - 70px);
		width: -ms-calc(60% - 70px);
		width: calc(60% - 70px);
	}

	.woocommerce .shop_table tr.cart_item td {
		padding-bottom: 10px;
		padding-top: 10px;
		width: 33%;
	}

	.woocommerce .shop_table .shop_coupon {
		text-align: center;
	}

	.woocommerce .shop_table .coupon {
		margin-bottom: 10px;
	}

	.woocommerce .shop_table .coupon input[type="text"] {
		text-align: center;
	}

}

header.woocommerce-products-header h2.post-title {
    font-style: normal;
    color: #f19e1e;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
}

form.woocommerce-ordering {
    position: absolute;
    right: 0px;
    top: 0px;
}
	form.woocommerce-ordering select {
		padding: 10px;
	}

nav.woocommerce-breadcrumb {
    padding: 10px 20px;
    background: #003458;
    margin-bottom: 20px;
    color: #fff;
}
	nav.woocommerce-breadcrumb a {
		color: #ffffff;
	}

p.text-product {
    text-align: justify;
}

strong.description {
    font-size: 16pt;
    color: #000000;
}